.bg-black{
    background: black;
}

.container{
    padding-top: 10px;
}

.shop-item-photo{
    width: 300px;
    height: 200px;
}
.shop-item-details{
    background-color: burlywood;
    text-align: center;
}
.h1-contact{
    line-height: normal;
    font-family: 'Libre Franklin',sans-serif;
    font-weight: 100;
    font-size: 56px;
    padding: 0 0 36px 30px;
}
.h2-contact{
    width: 100%;
    text-align: left;
    color: #474747;
    font-size: 32px;
    text-transform: none;
    font-weight: 100;
    line-height: 1.2;
}


.con-left{
    margin-top: 37px;
    padding-left: 10%;
}

.phone-number{
    color: #202020!important;
    text-decoration: none;
    cursor: grab;
}
.email-main{
    color: 	#202020 !important;
    text-decoration: none;
    cursor: grab;
}
.instagram-link{
    color: 	#202020 !important;
    text-decoration: none;
    cursor: grab;
}
.facebook-link{
    color: 	#202020 !important;
    text-decoration: none;
    cursor: grab;
}
#main-contact-page{
    min-height: 500px !important;

}

.contact-left{
    width: 45%;
    float: left;
    padding-left: 5%;
}

.create-row{
    padding-top: 10px;
}

.flex{
    display: flex;
    gap: 3rem;
}

.nav-link{
    padding: 0;
    display: flex;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
}
.primary-navigation{
    background-color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
 }

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"]{
    font-weight: 1000;
    margin-inline-end: 0.5em;
}
.logo{
    margin: 2rem;
}
.empty{
    width: 70%;
}

.info{
    margin-left: 10%;
}
.mainTitle{
    font-family: 'Libre Franklin',sans-serif;
    font-weight: 100;
    font-size: 56px;
}

